.card{
    background-color: whitesmoke;
    height: 80%;
    width: 35%;
    visibility: visible;
    align-items: center;
}
.fundoo
{
color: royalblue;
font-size: 20px;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.form
{
    box-align :center;
    text-align: center;
}