body {
    background-attachment: fixed;
    background: center;
    background-size: cover;
    background-image: url(Images/pic.jpg);
    text-emphasis-color: blue;
}

.Registration {
    text-align: center;
    color: red;
    width: 400px;
    padding: 1px
}

h1 {
    text-align: center;
    color: blueviolet;
    background: border-box;
    background-color: lavender;
    padding: inherit;
    width: auto;
    width: 450px;
}

#Button {
    background-color: gray;
    color: maroon;
    text-align: center;
    text-decoration: solid;
    font-weight: bold;
}

#loginform {
    background: center;
    align-content: center;
    color: red;
}

.DetailsButton {
    color: red;
    background-color: antiquewhite;
    font-weight: bold;
}

h3 {
    text-align: center;
    color: brown;
    background: border-box;
    background-color: lavender;
    padding: initial;
    width: 150px;
}

h2 {
    text-align: center;
    color: darkred;
    background: border-box;
    background-color: lavender;
    padding: inherit;
    width: 140px;
    text-decoration-style: solid;
}

.GetDetails {
    text-decoration: none;
    color: wheat;
}

#small {
    color: blue;
}

.Update {
    text-align: center;
    color: red;
    width: 400px;
    padding: 1px
}

#lineclass {
    align-items: start;
    color: red;
}

#homeclass {
    color: yellow;
    text-decoration: none;
    background: none;
}

li {
    float: right;
    text-decoration: none;
    padding: 5px;
    list-style-type: none
}

.Para {
    color: deeppink;
}

#main {
    width: 50%;
    max-width: 600px;
}

#main1 {
    color: aqua;
    width: 100%;
    padding-left: inherit;
}

div {
    display: inline-block;
}

element {
    display: inline-block;
    text-align: right;
    width: 50%;
    padding: 0px 10%;
}
.column {
    float: left;
    width: 25%;
    padding: 5px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
}
